<h2>books index</h2>
<% if @books.present? %>
  <ul>
    <% @books.each do |book|%>
      <div class='books_card'>
        <h2> <%= book.title%> </h2>
        <li> Author: <%= book.author%> </li>
        <li> Publisher: <%= book.publisher%> </li>
        <li> Publish Date: <%= book.publish_date%> </li>
        <li> stock: <%= book.stocks%> </li>
        <li> price: <%= book.price%> </li>
        <li> <%= link_to '加入購物車', add_cart_path(book.id), data:{ turbo_method: :post }%> </li>
      </div>
    <% end %>
  </ul>
<% end %>
