<h3>new book</h3>
<div class='flex justify-center'>
  <%= form_with(model: @book, data:{turbo: false}) do |f| %>
    <% if @book.errors.any? %>
      <div id="error_explanation">
        <p>red word was required</p>
      </div>
    <% end %>
    <%= f.label :title %>
    <%= f.text_field :title, class:'input_text' %>
    <%= f.label :author %>
    <%= f.text_field :author, class:'input_text' %>
    <%= f.label :overview %>
    <%= f.text_area :overview, class:'ipnut_area'%>
    <%= f.label :price%>
    <%= f.number_field :price, class:'ipnut_number'%>
    <%= f.label :stocks %>
    <%= f.number_field :stocks, class:'ipnut_number' %>
    <%= f.label :publisher %>
    <%= f.text_field :publisher, class:'input_text' %>
    <%= f.label :publish_date %>
    <%= f.date_field :publish_date, class:'input_date' %>
    <%= f.label :isbn %>
    <%= f.number_field :isbn, class:'ipnut_number' %>
    <%= f.submit 'Create Book' %>
  <% end %>
</div>
