<h2 class="text-2xl font-bold mb-4">購物車</h2>
<% if @books_in_cart.empty? %>
  <p class="text-gray-500">購物車是空的，什麼都沒有...</p>
<% else %>
  <table class="w-full border-collapse border">
    <thead>
      <tr>
        <th class="border p-2">書名</th>
        <th class="border p-2">金額</th>
        <th class="border p-2">數量</th>
        <th class="border p-2">小記</th>
      </tr>
    </thead>
    <tbody>
      <% @books_in_cart.each do |book| %>
        <tr>
          <td class="border p-2"><%= book[:book][:title] %></td>
          <td class="border p-2"><%= book[:book][:price] %></td>
          <td class="border p-2"><%= book[:quantity] %></td>
          <td class="border p-2"><%= book[:sub_total] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="sticky top-0 bg-white border p-4">
    <%= link_to '套用折價券', select_coupon_path, class:'submit-btn'%>
    <%= link_to '取消折價券' , cancle_cooupon_path, data:{turbo_method: :post}, class:'delete-btn'%>
    <div class="mb-2 flex justify-end">總額: $ <%= @total_price %></div>
    <div class="mb-2 flex justify-end">折扣金額: <%= @discount_price%></div>
    <div class="font-bold mb-2 flex justify-end">折扣後總金額: $ <%=  @result_price %></div>
  </div>
  <%= link_to '清空購物車', cart_path, data: { turbo_confirm: '確定要清空購物車嗎？', turbo_method: :delete }, class: 'delete-btn' %>
<% end %>
