<h3 class="text-2xl font-semibold">酷踫券</h3>
<%= link_to '新增酷踫券', new_coupon_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full my-4 inline-block' %>
<% if @coupons.present? %>
  <table class="table-auto mt-4">
    <thead>
      <tr>
        <th class="px-4 py-2">名稱</th>
        <th class="px-4 py-2">代碼</th>
        <th class="px-4 py-2">類型</th>
        <th class="px-4 py-2">折扣金額</th>
        <th class="px-4 py-2">到期日</th>
        <th class="px-4 py-2">使用次數</th>
      </tr>
    </thead>
    <tbody>
      <% @coupons.each do |coupon|%>
        <tr>
          <td class="px-4 py-2"><%= coupon.name %></td>
          <td class="px-4 py-2"><%= coupon.code %></td>
          <td class="px-4 py-2"><%= coupon.coupon_type %></td>
          <td class="px-4 py-2"><%= coupon.discount %></td>
          <td class="px-4 py-2"><%= coupon.expiration_date.strftime("%Y年%m月%d號") %></td>
          <td class="px-4 py-2"><%= coupon.count %></td>
          <td class="px-4 py-2"> <%= link_to '修改', edit_coupon_path(coupon.id) %> </td>
          <td class="px-4 py-2"> <%= link_to '刪除', coupon_path(coupon.id), data: { turbo_method: :delete, turbo_confirm: '確定刪除嗎?'}%> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="mt-4">目前沒有酷踫券，去新增吧!</p>
<% end %>
